:root {
  font-family: "Open Sans", sans-serif;
  color: #1B1B1B;
  line-height: 200%;
}

body {
  background-color: #F5F4F0;
  border-color: #D9D9D9;
}

#page {
  box-sizing: border-box;
  border-radius: 24px;
  margin: 88px 80px;
  /* border: 1px solid red; */
}

.headline {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: auto;
  letter-spacing: 0%;
  color: #E1624F;
  padding-bottom: 8px;
  margin: 0;
}

figure {
  margin: 40px 0;
}

figure img {
  display: block;
}

figure figcaption {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

#content-title {
  margin: 64px 0;
}

#title-h2 {
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 16px;
  text-align: justify;
  margin: 0;
}

img {
  border-radius: 28px;
  max-width: 100%;
}

ol {
  padding: 0;
  margin: 0;
}