:root {
  font-family: "Open Sans", sans-serif;
  color: #1B1B1B;
  line-height: 200%;
}

body {
  background-color: #F5F4F0;
  border-color: #D9D9D9;
}

#page {
  box-sizing: border-box;
  border-radius: 24px;
  margin: 88px 80px;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: auto;
  letter-spacing: 0%;
  color: #E1624F;
  padding-bottom: 8px;
  margin: 0;
}

figure {
  margin: 40px 0;
}

figure img {
  display: block;
}

figure figcaption {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

#content-title {
  margin: 64px 0;
}

#title-h2 {
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 16px;
  text-align: justify;
  margin: 0;
  color: #333333;
}

img {
  border-radius: 28px;
  max-width: 100%;
}

.list {
  list-style: none;
  counter-reset: item;
}

.list > li {
  counter-increment: item;
}

.list h3::before {
  content: counter(item) ". ";
  font-weight: bold;
}

ol {
  padding: 0;
  margin: 0;
}

ol li h3 {
  margin: 20px 0 4px;
}

#item-1 {
  margin-bottom: 48px;
}

#item-2 {
  margin-bottom: 48px;
}

#item-3 {
  margin-bottom: 48px;
}

a {
  color: #0D6EFD;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.history {
  color: #0C51A7;
  font-weight: bold;
}

.family {
  color: #E5245E;
  font-weight: bold;
}

.couples {
  color: #591B98;
  font-weight: bold;
}

#final-paragraph {
  text-align: center;
  margin-top: 40px;
}

footer {
  margin-bottom: 48px;
}

footer p {
  text-align: center;
  line-height: 150%;
}